---
const personalImageAlt = "Miguel Ángel";
import Badge from "@/components/Badge.astro";
import GitHub from "@/components/icons/GitHub.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/samuel-david-molina-gomez"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h3
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white typewriter"
  >
    ¡Hey!, soy samuel
  </h3>

  <style>
    .typewriter {
      display: inline-block;
      overflow: hidden;
      border-right: 0.15em solid #fff;
      white-space: nowrap;
      letter-spacing: 0.1em;
      line-height: 1.2;
      padding-bottom: 0.1em;
      animation:
        typing 3s steps(20, end) forwards,
        blink-caret 0.75s step-end infinite;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 87%;
      }
    }

    /* Animación del cursor */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: #fff;
      }
    }
  </style>

  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    1 año de experiencia en desarrollo de aplicaciones, Estudiante de Desarrollo
    de Software de Barranquilla, Colombia.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:samueldavidmolina2007@gmail.com">
      <MailIcon class="size-4" /> Contáctame
    </SocialPill>
    <SocialPill href="https://github.com/Sam-Dev0">
      <GitHubIcon class="size-4" /> GitHub
    </SocialPill>
  </nav>
</div>
